### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea

### maven ###
target/
mvnw
*.cmd
*.iml

# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code